swagger: "2.0"
info:
  description: "Информационный ресурс для точек продаж сладостей"
  version: "1.0.0"
  title: "Сладкая радость"
  contact:
    email: "baren1998@gmail.com"
host: "barenad.info"
basePath: "/api/v1"
tags:
  - name: "AUTHORIZATION"
    description: "Authorization and register users"
  - name: "MANAGEMENT"
    description: "Management"
  - name: "PRODUCTS"
    description: "products info"
schemes:
  - "https"
  - "http"
paths:

  /login:
    post:
      security:
        - ApiKey: []
      tags:
        - "AUTHORIZATION"
      summary: "login for user"
      description: ""
      operationId: "userLogin"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "login and password"
          required: true
          schema:
            $ref: "#/definitions/AuthLogin"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/AuthLoginResponse"
            
  /register:
    post:
      security:
        - ApiKey: []
      tags:
        - "AUTHORIZATION"
      summary: "register new user"
      description: ""
      operationId: "userRegister"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "userInfo"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        200:
          description: "Ok"
            
  /management/admins/roles:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get admin roles"
      description: ""
      operationId: "getAdminRoles"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AdminRole"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create admin role"
      description: ""
      operationId: "adminCreateRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "name admin role"
          required: true
          schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Управляющий"
      responses:
        200:
          description: "Ok"
          
    put:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "change admin role"
      description: ""
      operationId: "adminChangeRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id role and new name role"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                  example: "Управляющий"
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete admin role"
      description: ""
      operationId: "adminDeleteRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id role"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/admins/grants:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get admin grants"
      description: ""
      operationId: "getAdminGrants"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AdminGrant"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "give grant for admin role"
      description: ""
      operationId: "adminGiveGrant"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ids admin role and admin actions"
          required: true
          schema:
              type: object
              properties:
                id_admin_role:
                  type: integer
                id_action:
                  type: integer
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete grant for admin role"
      description: ""
      operationId: "adminDeleteGrant"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id grant"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/admins/admins_information:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get admins information"
      description: ""
      operationId: "getAdminInfo"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AdminInfo"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "assign administrator role for user"
      description: ""
      operationId: "assignAdministratorRole"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ids admin role and admin actions"
          required: true
          schema:
              type: object
              properties:
                id_user:
                  type: integer
                id_admin_role:
                  type: integer
                id_point_of_sale:
                  type: integer
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete admin iformation"
      description: ""
      operationId: "deleteAdminInfo"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id admin info"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/points_of_sale/schedules:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get schedules"
      description: ""
      operationId: "getSchedules"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Schedule"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create new schedule"
      description: ""
      operationId: "createSchedule"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "schedule Info whit not 'id'"
          required: true
          schema:
            $ref: "#/definitions/Schedule"
      responses:
        200:
          description: "Ok"
  
    put:
      security:
        - ApiKey: []
      tags:
        - "MANAGEMENT"
      summary: "change schedule"
      description: ""
      operationId: "changeSchedule"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "scheduleInfo"
          required: true
          schema:
            $ref: "#/definitions/Schedule"
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete schedule"
      description: ""
      operationId: "deleteSchedule"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id schedule"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/points_of_sale/points_of_sale:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get points of sale"
      description: ""
      operationId: "getPointOfSale"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PointOfSale"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create new point of sale"
      description: ""
      operationId: "createPointOfSale"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id schedule and info about point of sale"
          required: true
          schema:
              type: object
              properties:
                id_schedule:
                  type: integer
                address:
                  type: string
                  example: "пр. Ленина 86/2, корпус 7 (вход со двора)"
                phone:
                  type: string
                  example: "+7(543)-453-32-43"
      responses:
        200:
          description: "Ok"
          
    put:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create new point of sale"
      description: ""
      operationId: "changePointOfSale"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id schedule and info about point of sale"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
                id_schedule:
                  type: integer
                address:
                  type: string
                  example: "пр. Ленина 86/2, корпус 7 (вход со двора)"
                phone:
                  type: string
                  example: "+7(543)-453-32-43"
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete point of sale"
      description: ""
      operationId: "deletePointOfSale"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id point of sale"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/products/items:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get all items"
      description: ""
      operationId: "getItems"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Item"
    
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create new item"
      description: ""
      operationId: "createItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "item info whitch not 'id'"
          required: true
          schema:
            $ref: "#/definitions/Item"
      responses:
        200:
          description: "Ok"
          
    put:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "change new item"
      description: ""
      operationId: "changeItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "new item info"
          required: true
          schema:
            $ref: "#/definitions/Item"
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete item"
      description: ""
      operationId: "deleteItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id item"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/products/products_information:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get all product information"
      description: ""
      operationId: "getProductsInformation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProductInformation"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create product information in point of sale"
      description: ""
      operationId: "createProductsInformation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "info about product"
          required: true
          schema:
              type: object
              properties:
                id_item:
                  type: integer
                id_point_of_sale:
                  type: integer
                price:
                  type: integer
                count:
                  type: integer
      responses:
        200:
          description: "Ok"
          
    put:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "change product information in point of sale"
      description: ""
      operationId: "changeProductsInformation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "new info about product"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
                id_item:
                  type: integer
                id_point_of_sale:
                  type: integer
                price:
                  type: integer
                count:
                  type: integer
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete product information"
      description: ""
      operationId: "deleteProductsInformation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id product information"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/products/categories_item:
    get:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "get all categories for item"
      description: ""
      operationId: "getCategoriesItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: object
              properties:
                name:
                  type: string
                  example: "Подарочные наборы"
  
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "create new categorie for item"
      description: ""
      operationId: "createCategoriesItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "name"
          required: true
          schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Подарочные наборы"
      responses:
        200:
          description: "Ok"
          
    put:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "change categorie for item"
      description: ""
      operationId: "changeCategoriesItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "name"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                  example: "Подарочные наборы"
      responses:
        200:
          description: "Ok"
          
    delete:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "delete categorie for item"
      description: ""
      operationId: "deleteCategoriesItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "id categorie for item"
          required: true
          schema:
              type: object
              properties:
                id:
                  type: integer
      responses:
        200:
          description: "Ok"
          
  /management/products/categories_for_items:
    post:
      security:
        - ApiKey: []
        - JWTToken: []
      tags:
        - "MANAGEMENT"
      summary: "set categorie for item"
      description: ""
      operationId: "setCategorieForItem"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ids categorie and item"
          required: true
          schema:
              type: object
              properties:
                id_item:
                  type: integer
                id_categorie:
                  type: integer
      responses:
        200:
          description: "Ok"

definitions:
  AuthLogin:
    type: "object"
    properties:
      login:
        type: "string"
        example: "barenad"
      password:
        type: "string"
        example: "@Pass9752word000"
        
  AuthLoginResponse:
    type: "object"
    properties:
      access_token:
        type: "string"
        example: "YWNjZXNzX3Rva2Vu"
      refresh_token:
        type: "string"
        example: "YWNjZXNzX3Rva2Vu"
      user:
         $ref: '#/definitions/User'
        
  AdminRole:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      name:
        type: "string"
        example: "Управляющий"
        
  AdminAction:
    type: "object"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
        example: "Начначение ролей администратора"
      description:
        type: "string"
        example: "Позволит выдавать права администратора пользователям"
        
  AdminGrant:
    type: "object"
    properties:
      id:
        type: "integer"
      role:
        $ref: '#/definitions/AdminRole'
      action:
        $ref: '#/definitions/AdminAction'
        
  AdminInfo:
    type: "object"
    properties:
      id:
        type: "integer"
      user:
        $ref: '#/definitions/User'
      role:
        $ref: '#/definitions/AdminRole'
      point_of_sale:
        $ref: '#/definitions/PointOfSale'
        
  User:
    type: "object"
    properties:
      id:
        type: "integer"
      fio:
        type: "string"
        example: "Иванов Иван Иванович"
      login:
        type: "string"
        example: "baren"
      password:
        type: "string"
        example: "c6a40522f88b3527f3b7e137ac998179"
      e_mail:
        type: "string"
        example: "baren1998@gmail.com"
      email_verified_at:
        type: "integer"
        example: 1594899010
      phone:
        type: "string"
        example: "+7(912)-765-43-21"
      note:
        type: "string"
        example: "Ворует из кассы"
        
  Schedule:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      name:
        type: "string"
        example: "обычное расписание"
      monday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      tuesday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      wednesday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      thursday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      friday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      saturday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      sunday:
        type: "string"
        example: "с 9:00 до 18:00 (13:00 - 14:00 обед)"
      holiday:
        type: "string"
        example: "с 11:00 до 15:00"
      particular:
        type: "string"
        example: "в праздники не работаем, исключение - новый год"
        
  Item:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      picture:
        type: "string"
        example: "/images/product_items/4342525.png"
      miniature_picture:
        type: "string"
        example: "/images/mini/product_items/4342525.png"
      name:
        type: "string"
        example: "Конфеты коркунов"
      composition:
        type: "string"
        example: "Молочный шоколад, орехи, глютен"
      manufacturer:
        type: "string"
        example: "ООО 'Чарли и шоколадная фабрика'"
      description:
        type: "string"
        example: "Отлично подойдёт к красному вину"
      product_unit:
        type: "string"
        example: "1 коробка"
        
  PointOfSale:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      adress:
        type: "string"
        example: "пр Ленина 86/2 корпус 3 (вход с торца)"
      phone:
        type: "string"
        example: "+7(654)-544-24-21"
      schedule:
        $ref: '#/definitions/Schedule'
        
  ProductInformation:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      item:
        $ref: '#/definitions/Item'
      point_of_sale:
        $ref: '#/definitions/PointOfSale'
        
securityDefinitions:
  ApiKey:
    type: apiKey
    name: x-api-key
    in: header
  JWTToken:
    type: apiKey
    name: Authorization
    in: header